<!DOCTYPE html>
<html>
<head>
    <title>Оставить отзыв</title>
    <link rel="stylesheet" href="{% static 'css/style_comment.css' %}">
</head>
<body>
    <h1>Оставьте свой отзыв</h1>
    <form method="post">
        {% csrf_token %}
        <label for="rate_stars">Оценка:</label>
        <select name="rate_stars" id="rate_stars">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>
        <label for="comment">Комментарий:</label><br>
        <textarea name="comment" id="comment" rows="4" cols="50"></textarea><br>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>