{% include 'tv_show/header.html' %}
<center>
<div class="card" style="width: 18rem;">
  <img src="{{object.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
      <h1 class="card-title"><b>{{object.title}}</b></h1>
  <p class="card-text">{{object.description}}</p>
      <p class="card-text">+{{object.age_restrictions}}</p>
      <p class="card-text">Кино(сериал): <a href="{{object.url_tv_show}}">{{object.url_tv_show}}</a>}</p>
      <p class="card-text">Компания: {{object.company_tv}}</p>
      <p class="card-text">Номер телефона: {{object.number_tv_show}}</p>
      <p class="card-text">Инстаграмм: <a href=" {{object.instagram}}">{{object.instagram}}</a></p>
      <p class="card-text">Информация о компании: <a href="{{object.about_tv_show}}">{{object.about_tv_show}}</a></p>
    <p class="card-text">Дата создания: {{object.created_at}}</p>

    {% for rating in object.comment_object.all %}
    <table border="1">
        <tr>
            <td>Комментарий : {{rating.Text}}</td>
            <td>Дата оценки : {{rating.created_at}}</td>
        </tr>
    </table>
    {% endfor %}

    {% for i in reviews.all %}
      <table border="1">
          <tr>
              <td>Комментарий : {{i.tv_show_text}}</td>
              <td>Оценка : {{i.rate}}</td>
              <td>Публикация комментария : {{i.created_at}}</td>
          </tr>

      </table>
    {% endfor %}


    <!--//-->
      <button><a href="/tv_show/{{object.id}}/delete/">Удалить</a></button>
      <button><a href="/tv_show/{{object.id}}/update/">Изменить</a></button>
  </div>
</div>
</center>

{% include 'tv_show/footer.html' %}